.main_div{
    display: inline-block;
    background-color: white;
    height: 100%;
  }
  .first{
    display: inline-block;
    width: 70%;
    height: 100%;
    position: absolute;
    border-right: 2px solid black;
  }
  .first_1{
    position: relative;
    background-image: url("asd4.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }
  /* First Row */
  #numberings{
    display: flex;
    justify-content:space-between;
    padding: 1%;
    margin-left: 2rem;
  }
  #numberings .anim{
    margin-top:15rem;
    padding: 5%;
  }
  @media  (max-width:1200px){
    /* First half */
  .first{
    display: inline-block;
    width: 70%;
    height: 100%;
    position: absolute;
    border-right: 2px solid black;
  }
  .first_1{
    position: relative;
    background-image: url("asd4.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }
  /* First Row */
  #numberings{
    display: flex;
    justify-content:space-between;
    padding: 1%;
    margin-left: 2rem;
  }
  #numberings .anim{
    margin-top:12rem;
    padding: 5%;
  }
  }
  
  .tooltip{
    position: relative;
    background-color: rgb(87, 79, 82);
    color: rgb(255, 252, 252);
    border-radius: 50%;
    margin-left: -1.5rem;
    transition: 0.2s ease-in-out;
    padding: .4rem;
    border: solid 2px #070707;
  }
  
  .tooltip:hover{
    background-color: rgb(252, 153, 4);
    color: rgb(248, 247, 247);
    border-radius: 50%;
    border: solid 2px #070707;
    height: 20px;
    width: 20px;
  }
  .tooltip:before,
  .tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
  }
  
  .tooltip::before {
  top: -5px;
  transform: translateY(40px);
  }
  
  .tooltip:after {
  content: attr(data-tooltip);
  background-color: rgb(136, 19, 136);
  color: aliceblue;
  width: 200px;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: 36px;
  left: -45px;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
  box-shadow: 10px 10px 5px rgb(96, 126, 136) ;
  font-family: sans-serif;
  border: 2.5px solid rgb(255, 238, 2);
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
  }
  
  .anim:hover {
  cursor: pointer;
  }
  
  .tooltips {
    min-width: 10px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: whitesmoke;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 3px;
    }
  
  .tooltips::before {
    content: '';
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 30px rgb(95, 2, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out 0s;
    animation: ring 2.5s infinite;
  }
  
  .tooltips:hover, .tooltips:focus {
    color: white;
    height: 10px;
    width: 10px;
    animation: none;
  }
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
      box-shadow: 0px 0px 30px rgb(8, 4, 245);
    }
    100% {
      width: 30px;
      height: 30px;
      opacity: 0;
    }
  }
  /* Second Half */
  .thirdDiv{
    margin-top: 90px;
    height:auto;
    margin-left: 2rem;
    width: auto;
    background-color: #c5c50d;
    border: 1px solid #c5c50d;
    border-radius: 5%;
    padding: 15px;
    text-align: justify;
  }
  .thirdDiv p{
    margin-top:1rem;
    
  }
  img{
    height:5rem;
    width:5rem;
    border-radius: 50%;
    border: 8px solid #c5c50d;
  }
  .previous {
    color: rgb(249, 247, 247);
    font-family: sans-serif;
    font-size: .8rem;
  }
  
  .next {
    color: rgb(250, 249, 249);
    font-family: sans-serif;
    font-size: .8rem;
  }
  .rounded{
    margin-top: -4rem;
  }
  .second{
  display: inline-block;
  background-color: transparent;
  width: 25%;
  height: 100%;
  position: relative;
  margin-left: 85rem;
  margin-top: 5rem;
}
  p{
      font-size:.9rem;
    }
  @media (max-width:1200px){
    .second{
      display: inline-block;
      background-color: transparent;
      width: 25%;
      height: 100%;
      position: relative;
      margin-left: 55rem;
      margin-top: -1rem;
    }
    .thirdDiv{
      margin-top: 90px;
      height:auto;
      margin-left: .5rem;
      width: auto;
      background-color: #c5c50d;
      border: 1px solid #c5c50d;
      border-radius: 5%;
      padding: 12px;
      text-align: justify;
  }
  .thirdDiv p{
      margin-top:.5rem;
      
  }
   p{
    font-size:.8rem;
  }
  }
  ol li{
    border-bottom: 2px dotted gray;
    font-size: 1.2rem;
    padding: 1%;
    font-family: sans-serif;
  }
  ul li{
    list-style: none;
    font-family: sans-serif;
  }
  ol li ul li:nth-last-child(1){
    border: none;
  }
  a{
    text-decoration: none;
  }
  /* Button */
  .buttons {
    display: inline-block;
    border-radius: 50px;
    background-color: rgb(112, 105, 105);
    border: none;
    color: #faf7f7;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    width: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: auto;
    border: 2px solid black;
  }
  
  .buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttons span:before {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -15px;
    transition: 0.5s;
  }
  
  .buttons:hover span {
    padding-left: 15px;
  }
  
  .buttons:hover span:before {
    opacity: 1;
    left: 0;
  }
   /* Anker */
   ol li a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  ol li a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  ol li a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* selected link */
  ol li a:active {
    color: rgb(0, 0, 0);
  }
  
